# Intersection points between paths

In [13]:
import gpxpy
import gpxpy.gpx
from datetime import datetime
from gpx_converter import Converter
from pytz import timezone
import folium
from branca.element import Figure
import os
import haversine as hs
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
plt.rcParams['axes.spines.top'] = False
plt.rcParams['axes.spines.right'] = False
from pyx import *

(0.000000 t + 0.000000 u + 0.000000 v + 0.000000 w + 0.000000 x) m (0.000000 t + 0.000000 u + 0.000000 v + 0.000000 w + 0.000000 x) m
(0.020000 t + 0.000000 u + 0.000000 v + 0.000000 w + 0.000000 x) m (0.010000 t + 0.000000 u + 0.000000 v + 0.000000 w + 0.000000 x) m

In [5]:
df=Converter(input_file='./app/src/datasets/dataset1/Rider1/2.gpx').gpx_to_dataframe()
df.head()

                       time   latitude  longitude  altitude
0 2014-07-23 06:33:30+00:00  46.078243  14.826053     268.2
1 2014-07-23 06:33:31+00:00  46.078274  14.826082     268.2
2 2014-07-23 06:33:32+00:00  46.078312  14.826119     268.2
3 2014-07-23 06:33:33+00:00  46.078353  14.826162     268.2
4 2014-07-23 06:33:34+00:00  46.078404  14.826207     268.2

In [6]:
df2=Converter(input_file='./app/src/datasets/dataset1/Rider1/4.gpx').gpx_to_dataframe()
df2.head()

                       time   latitude  longitude  altitude
0 2013-12-27 11:37:37+00:00  46.078320  14.825556     243.0
1 2013-12-27 11:37:43+00:00  46.078292  14.825836     244.2
2 2013-12-27 11:37:44+00:00  46.078279  14.825860     244.2
3 2013-12-27 11:37:45+00:00  46.078260  14.825880     244.2
4 2013-12-27 11:37:46+00:00  46.078235  14.825885     244.2